<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Djangochat</title>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-green-600">
   <nav class="flex items-center justify-between px-4 py-6 bg-green-800">
    <div>
        <a href="/" class="text-xl text-white">Djangochat</a>
    </div>
    <div class="flex items-center space-x-4 ">
        <a href="/login/" class="text-white hover:text-gray-200">Log in</a>
    </div>
   </nav>
</body>
</html>